body{
    background-color: aquamarine;
    color: beige;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

p{
    color:red;
    font-family: Didot,serif;
}

#ly{
    background-color: antiquewhite;
    color:purple;
    font-family: "Andale Mono",monospace;
    text-transform: uppercase;
}

box1{
    background-color: antiquewhite;
    border: 5px blue solid;
    border-right: 5px red solid;
    border-left: 5px green solid;
    border-top: 8px gray dotted;
}
